/*
# Kiminu, Website
# Author: Dalice NKAYA, Francis Ambiana;
# Years: 2016;
# Description: Education, Admission, Subcriber School and Training Center, Apps School Mnagement;
#
*/
@import "css2.0.css";
@import "css3.0.css";
@import "rwdgrid.css";
@import "wapi.responsive.css";
@import "fontawesome-all.css";

body
{
margin:0;
background:#ffffff;
text-align:center;
font:12px arial, sans serifs;
}
@font-face
{
font-family: "built-titling-bd";
src: url('built-titling-bd.ttf'); /* IE9+ */
}
@font-face
{
font-family: "built-titling-el";
src: url('built-titling-el.ttf'); /* IE9+ */
}
@font-face
{
font-family: "built-titling-rg";
src: url('built-titling-rg.ttf'); /* IE9+ */
}
@font-face
{
font-family: "built-titling-sb";
src: url('built-titling-sb.ttf'); /* IE9+ */
}
@font-face
{
font-family: "MyriadPro-Light";
src: url('MyriadPro-Light.otf'); /* IE9+ */
}
@font-face
{
font-family: "MyriadPro-Regular";
src: url('MyriadPro-Regular.otf'); /* IE9+ */
}
.spacey55{height: 5.5em;}
.left2{float: left !important;}
.right2{float: right !important;}
.positionfixed { position: fixed; }
#spaceright {width:37px;color: #ffffff;height:17px;}
.z-index2000{z-index: 2000;position: relative;}
.colorwhite {color: #FFFFFF;}
.colorjaune1 {color: #FAC400;}
.colorjaune2{color: #f2cb0c;}
.colorviolet1 {color: #6B4B98;}
.colorviolet2{color: #4B2E65;}
.colorblack {color:#000000;}
.colorgrey1 {color: #545454;}
.colorgrey2 {color: #626363;}
.colorgrey3 {color: #919292;}
.colorgrey4 {color:#D0D0D0;}
/*color icon file */
.colorblue2 {color: #0b58dd;}
.bgcolorYellow {background:#FAC400;}
.bgcolorViolet {background:#2B193E;}
.bgcolorViolet2 {background:#6B4B98;}
.bgcolorGrey1 {background-color: #919292;}
.bgcolorGrey2 {background-color: #D0D0D0;}
.bgcolorGrey3 {background-color: #DFDFDF;}
.bgcolorGrey4 {background-color: #F0F0EF;}
.borderRadius40{-webkit-border: 40px;-moz-border-radius: 40px;border-radius: 40px;}
.typed-cursor--blink{display: none !important;}
.borderPicture{-webkit-border: 540px;-moz-border-radius: 540px;border-radius: 540px;}
.border2{border:2px solid #F2A814;} .border4{border:7px solid #F2A814;}
.bggradientYellow {background-image: linear-gradient(to right bottom, #fab733, #faba2b, #fabd22, #fac116, #f9c400);}
.line1{border:2px solid #FAB623;width: 30px;background:#FAB623; }
div {}
.with100 {width: 100%;}
.contener{width:100%;text-align: center;}
.MyriadPro-Light {font-family: "MyriadPro-Light";}
.MyriadPro-Regular {font-family: "MyriadPro-Regular";}
.built-titling-sb {font-family: "built-titling-sb";}
.built-titling-rg {font-family: "built-titling-rg";}
.noneFloat{float: none !important;}
.corner-motif-violet{height: 300px;width:300px;background-image: linear-gradient(to right bottom, #6a4a98, #63438b, #5b3c7e, #543571, #4c2e65);-webkit-border-bottom-right-radius: 400px;
-moz-border-radius-bottomright: 400px;
border-bottom-right-radius: 400px;}
.motif-zoe-1{background: url('../images/motif_zoe_1.png') no-repeat;height: 300px;width: 300px;}
.motif-zoe-2 {background:transparent url('images/motif_zoe_2.html') no-repeat;}
.titre-box1{font-family: 'built-titling-sb';width: 80px;text-align: left;}
.titre-box2{font-family: 'built-titling-sb';text-align: left;font-size: 2.3em !important;}
.circle80 {-webkit-border-radius: 80px;-moz-border-radius: 80px;width:80px;height: 80px;border:4px solid #FAB623;
border-radius: 80px;}
.fullBackground {
  background-position: center center;background-size: cover;
  position: relative;top: 0;left: 0;width: 100%;height: 577px;
}
.topnav {
    overflow: hidden;text-align: right;
}
.topnav a {
/*    float: left;*/
    display:  inline-block;
   color: #4B2E65;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.topnav .icon {
    display: none;
    background: #6B4B98;color: #ffffff;
-webkit-border: 40px;-moz-border-radius: 40px;border-radius: 40px;    
}
.menu_actif,.topnav a:hover,.linkmore {text-decoration:none;background:#FAC400;color: #ffffff !important;-webkit-border: 40px;-moz-border-radius: 40px;border-radius: 40px;}
.hometsize1 {font-size: 2.3em;} .hometsize2{font-size: 1.8em;}
.letter-spacing10{  letter-spacing: 10px;} .letter-spacing5{  letter-spacing: 2px;}
.gradientviolet1{background-image: linear-gradient(to right bottom, #6a4a98, #63438b, #5b3c7e, #543571, #4c2e65);}
.sapceH75{height: 5.5em;}
.bloceven {margin-top: -70px;} .titlEven {} .dateEven{left:-2000;}
.topversetbloc { display: none;background: transparent url('../images/motif_zoe_2.png')  no-repeat;width: 479px;height: 247px;margin-top:-113px; } .topverset {padding-top: 120px;padding-left: 70px;padding-right: 20px;}
.footcontact a:hover { text-decoration: none;} .footcontact:hover {background: #f5f5f5; }
.footcontact a{display: block;} .design_motif3 {background: url('../images/motif_zoe_3.png') no-repeat left bottom;}
.titlePage { right: 0px;top:15.5em;background: #ffffff;}.titlePage h1 {text-align: right;margin:0; }
select#soflow{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   content: "\f358";
/*   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
*/
background-image: url(../images/002-down-arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
background-position: 95% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 120px;outline: none;
}
.formdesign {  }
.formdesign input[type='text'],.formdesign input[type='file'],.formdesign select,.formdesign textarea{ display: block; -webkit-border-radius: 5px;
-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0px 0px 8px 0px #c5c5c5;margin-bottom: 1.5em;padding: 0.7em;
-moz-box-shadow: 0px 0px 10px 0px #c5c5c5; box-shadow: 0px 0px 10px 0px #c5c5c5;border: 1px solid #a4a4a5;outline: none;}
.formdesign input[type='text']:focus,.formdesign input[type='file']:focus,.formdesign select:focus,.formdesign textarea:focus{ border: 1px solid #6B4B98;background-color:#f7f7f7; }
.formdesign input[type='text'],.formdesign input[type='file'],.formdesign select { height: 3.3em;font-size: 1em;padding: 0.7em;color:#777;margin-bottom: 1.5em;}
.formdesign textarea{ height: 9.3em;font-size: 1em;color:#777;}

.submitButton { display: block; -webkit-border-radius: 5px;border: none;
-moz-border-radius: 5px;border-radius: 5px;margin-bottom: 1.5em;padding: 0.7em;outline: none; }
.testimony { -webkit-box-shadow: 0px 0px 24px 0px rgba(237,237,237,1);
-moz-box-shadow: 0px 0px 24px 0px rgba(237,237,237,1);
box-shadow: 0px 0px 24px 0px rgba(237,237,237,1);
-webkit-border-radius: 25px;
-webkit-border-bottom-right-radius: 0;
-moz-border-radius: 25px;
-moz-border-radius-bottomright: 0;
border-radius: 25px;
border-bottom-right-radius: 0;
width: 330px;color: #444545;
border-top: 3px solid #fab724;
 } .testimony p {font-style: italic;line-height: 2.2em;}

.annouceEven {-webkit-box-shadow: 0px 0px 24px 0px rgba(237,237,237,1);
-moz-box-shadow: 0px 0px 24px 0px rgba(237,237,237,1);
box-shadow: 0px 0px 24px 0px rgba(237,237,237,1);
-webkit-border-radius: 25px;
-webkit-border-bottom-right-radius: 0;
-moz-border-radius: 25px;
-moz-border-radius-bottomright: 0;
border-radius: 25px;
border-bottom-right-radius: 0;
/*background:#6B4B98;*/
background: #3b2254;
width: 330px;color: #fff;
border-top: 3px solid #fab724;}
.annouceEven p {line-height: 1.7em;padding: 10px;}
#myVideo{position:absolute;z-index:1;left:0;top:0;width: 100%;
    height: auto;background:#e9e9e9;}.content{position:fixed;bottom:0;background:rgba(54,30,77,0.5);color:#f1f1f1;width:100%;padding:20px}#myBtn{width:70px;height:70px;border-radius:70px;font-size:22px;padding:10px;border:none;background:#361e4d;color:#fab724;cursor:pointer;border:3px solid #361e4d;outline:none;position: relative;z-index: 5000;margin-top:-70px; }#myBtn:hover{background:#fab724;color:#361e4d}
#accordion .accord_content {
    max-height: 24px;
    background:#fff;
    overflow: hidden;
    margin-bottom:5px;
    transition: max-height .5s;
    -o-transition: max-height .5s;
    -moz-transition: max-height .5s;
    -webkit-transition: max-height .5s;
    cursor: pointer;
    font-size: 13px;
}
#accordion a.accord_head {text-align: left;
    height: 49px;border-top: 1px dotted #c7c7c7;padding: 0.3em;
}
#accordion a {
    display:block;
    height:auto;
    color: #797979;
    line-height:24px;
    padding-left:10px;
    text-decoration:none;
    font-weight: bold;
}


  .jq-scroller-wrapper * {
    box-sizing: border-box;
  }

  .jq-scroller,
  .jq-scroller-wrapper {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    list-style: none;
    position: relative;
    height: 180px;
  }

  .jq-scroller {
    border: 1px solid #FAC400;
    padding-top: 12px;
    border-radius: 5px;
  }

  .jq-scroller-wrapper {
    overflow: visible;
  }

  .jq-scroller-prev,
  .jq-scroller-next {
    position: absolute;
    top: 50%;
    height: 28px;
    margin-top: -10px;
    width: 28px;
    left: -36px;
    z-index: 1;
    font-size: 32px;
    opacity: 0.3;
    cursor: pointer;
  }

  .jq-scroller-next {
    left: auto;
    right: -36px;
  }

  .jq-scroller-prev:hover,
  .jq-scroller-next:hover {
    opacity: 1;
  }

  .jq-scroller-mover {
    position: relative;
    word-spacing: -4px;
    height: 100%;
    list-style: none;
    padding: 0; 
    margin: 0; 
    text-align: center; 
  }

  .jq-scroller-item {
    display: inline-block;
    width: 23%;
    min-width: 140px;
    height: 100%;
    white-space: nowrap;
    border-radius: 6px;
    vertical-align: bottom;
    position: relative;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
  }

  .jq-scroller-preview {
    width: 100%;
    height: 80%;
     background-size: cover;
    background-position: 50% 50%;
    border: 1px solid #c5c5c5;
    transition: opacity 0.1s ease-in;
    opacity: 0.5;
    display: block;
  }
  .jq-scroller-preview img{
    display: none;
  }

  .jq-scroller-preview:hover {
    opacity: 1;
  }

  .jq-scroller-caption {
    position: relative;
    bottom: 0;
    text-align: center;
    display: block;
    width: 100%;
    height: 20%;
    word-spacing: 0;
    font-weight: bold;
    font-size: 11px;
    white-space: normal;
    line-height: 1.5em;
  }

  .jq-scroller-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.1s ease-in;
    text-align: center; 
  }

  .jq-scroller-overlay.active {
    z-index: 2300;
    opacity: 1;
  }

  .jq-overlay-item {
    display: inline-block;  
    position: relative; 
    max-height: 90%;
    margin: 0 auto;
    top: 5%;
    background-color: white;
    z-index: 3000;
    padding: 20px;
  }

  .jq-overlay-item iframe {
    width: 100% !important;
    height: 80% !important;
    min-width: 800px; 
    position: relative;
  }

  .jq-overlay-item img {
    max-width: 99%;
    max-height: 80%;
    position: relative;
  }

  .jq-overlay-close {
    position: absolute;
    right: -6px;
    top: -6px;
    cursor: pointer;
    font-size: 24px;
  }

  .jq-scroller-overlay-next,
  .jq-scroller-overlay-prev {
    position: absolute;
    left: -20px;
    top: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px  0 0 20px;
    text-align: center;
    margin-top: -40px;
    font-size: 32px;
    color: lightgrey;
    cursor: pointer;
  }

  .jq-scroller-overlay-next {
    left: auto;
    right: -20px;
    border-radius: 0 5px 5px 0;
  }
