/* general Style
Author: dalice Nkaya;
years: March 2016;
Position: Founder, Creative Director Wapistudio;
email: dalice.nkaya@wapistudio.com;
*/
/* Device_13 : Desktop/Laptop screen resolution, iMac, and TV */
@media screen and (max-width:3690px){

}
/* Device_12 : Desktop/Laptop screen resolution, iMac, and TV */
@media screen and (max-width:2990px){

}
/* Device_11 : Desktop/Laptop screen resolution, iMac, and TV */
@media screen and (max-width:2480px){

}
/* Device_10 : Desktop/Laptop screen resolution*/
@media screen and (max-width:1980px){

}
/* Device_9 :  Apple MacBook Air, Medium 6.7, desktop/Laptop screen resolution*/
@media screen and (max-width:1480px){

}
/* Device_8: Sony Experia S, High resoltuion netbooks such as acer one 522, Sansubg Galaxy Tab 10.1, Samsung Galaxy Tab 7.1, 8.9, Sony Tab S, Asus Eee, MOTOROLA ZOOM; */
@media screen and (min-width:1025px){
  .topnav.responsive a {
    text-align: right;
  }
}
@media screen and (max-width: 1024px) {
.menu_actif {text-decoration:none;background:#FAC400 !important;}
 /*.topnav a:not(:first-child) {display: none;}*/
 .topnav {position:absolute !important;z-index: 2000 !important;right:0;}
 .topnav a {display: none  !important;background: #4B2E65;color: #ffffff !important;-webkit-border: 40px;-moz-border-radius: 40px;border-radius: 40px;}
  .topnav a.icon {
    float: right;
    display: block   !important;
  }
.divSocial {display: none !important;}
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block   !important;
    text-align: left;
  }
}
@media screen and (max-width:1180px){
}
@media screen and (min-width:1085px){
 #navigation {display: block !important;}
}

/* Device_7 : Amazon kindly Fire Samsung Galaxy TAB, HP Touchpad */
@media screen and (max-width:1080px){


}

@media screen and (max-width:1015px){

.eiffeltour{background-image:none !important; }

}
/* Device_6 : Motorola Bionic, Atrix & Droid RAZR, Iphone 4 & 4s New ipod touch */
@media screen and (min-width:933px){ 
#panelbars {display: none !important;}
}
@media screen and (max-width:933px){
.recherche_head{display: none !important;}
.member {display: none !important;}
.logoSpace {width: 50% !important;}
.barPanel {width: 50% !important;text-align: right !important;}
.humbergerMenu {display: block !important;}
#searchinput {width: 100% !important;}
.searchHome{display: none !important;}
.ispace {display: none !important;}
.UserPanel{display: none !important;}
.infoHome p {font-size:1.5em !important;line-height: 1.4em !important;}
.spacemenu-top{display: none !important;}
.signin{ height: auto !important; }
}
/* Device_6 : Motorola Bionic, Atrix & Droid RAZR, Iphone 4 & 4s New ipod touch */
@media screen and (max-width:991px){

}

@media screen and (min-width:991px){
  #myVideo {min-width:100%;height:564px !important;}

}

@media screen and (max-width:930px){
.topversetbloc { display: none !important;}
/*.topversetbloc { position: absolute;right: 0;top: 430px}*/
}
@media screen and (min-width:854px){   }
/* Device_5 : Samsung Galaxy I,II,S Samsung Nexus S, HTC (Desire, HD, & Desire S, EVO HTC Sensation XL), Blackberry Torh 9860, Blackberry Strom 3, Nokia Lumia 800, Motorala */
@media screen and (max-width:854px){ 
.mascotte{display: none !important;}
.inputText{width: 100% !important;}
.inputSubmit {width:100% !important;}
}
/* Device_4 : Nokia N8,N97, E7, BlackBerry Bold 9900 & Torch 9810 */
@media screen and (max-width:797px){

}
/* Device_4 : Nokia N8,N97, E7, BlackBerry Bold 9900 & Torch 9810 */
@media screen and (max-width:722px){

 .topnav {top:-230px;z-index: 2300 !important}
 .topcontact { margin-top:-270px;  } 
}
@media screen and (max-width:719px){ .titlEven {text-align: center;margin-top: 50px;} 
 .dateEven .grid-3 {width: 30%;} .dateEven .grid-6 {width:40%;}}
@media screen and (max-width:615px){
  #myVideo {min-width:100%;height:564px !important;}
}
@media screen and (max-width:680px){
#panelbars {  width: 100% !important;}
.logoSpace { width: 37% !important;}
}
/* Device_3 : Apple iPhone 3G & 3GS, Blackberry Bold, Samsung Galaxy ACE, LG Optimus One-with:480; */
@media screen and (max-width:640px){

}
/* Device_2 : Samsung Star I & Samsung Star II*/
@media screen and (max-width:465px){
.textintro {font-size:2.4em !important;}
.headSchoolPage h1 {font-size:1.8em !important;}
}
/* Device_1: Blackberry Curve, Samsung Tocco, HTC Wildfire, NOKIA E71 */
@media screen and (max-width:320px){
  #myVideo {}
}
